# Logs
logs
*.log

dist
dist-ssr
*.local

/node-red/prod/

.env
.env.k8s

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scanner worker
securedrop-scanner/node_modules/


# Infrastructure as Code
iac/Ansible/hosts.ini
iac/Ansible/users_vars_DO_NOT_SHARE.yml
iac/Ansible/vault_keys_DO_NOT_SHARE.json
iac/Ansible/microk8s_users.yml

iac/Opentofu/.terraform/
iac/Opentofu/.terraform.lock.hcl
iac/Opentofu/*.tfstate
iac/Opentofu/*.tfstate.*
iac/Opentofu/*.tfvars
iac/Opentofu/*.tfvars.json
iac/Opentofu/*.plan
iac/Opentofu/tfplan
iac/Opentofu/k8s-ca.crt

*.md
!README.md