# API SECRETS
KEYCLOAK_URL=http://keycloak-service:8080
KEYCLOAK_REALM=securedrop-realm
KEYCLOAK_CLIENT_ID=web-app

MINIO_ENDPOINT=minio-service
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

SUPABASE_DB_URL=
DB_HOST=
DB_PORT=5432
DB_NAME=postgres
DB_USER=
DB_PASSWORD=
DB_SSL=true

PORT=3001
NODE_ENV=production
CORS_ORIGIN=
MAX_FILE_SIZE=52428800

# KEYCLOAK SECRETS
KEYCLAOK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

KC_HOSTNAME=
KC_HOSTNAME_STRICT=true
KC_HOSTNAME_STRICT_HTTPS=false

KC_HTTP_ENABLED=true
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true
KC_LOG_LEVEL=INFO
KC_PROXY_HEADERS=xforwarded

KC_DB=postgres
KC_DB_SCHEMA=keycloak
KC_DB_PASSWORD=
KC_DB_USERNAME=
KC_DB_URL=

# MINIO SECRETS
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_SERVER_URL=
MINIO_BROWSER_REDIRECT_URL=
MINIO_PROMETHEUS_AUTH_TYPE=public
TARGET_BUCKET=your_bucket_on_rabbitmq
AMQP_URL_ENV=amqp://user:pass@rabbitmq:5672/
MINIO_NOTIFY_AMQP_EXCHANGE_rabbitmq=exchange
MINIO_NOTIFY_AMQP_EXCHANGE_TYPE_rabbitmq=topic
MINIO_NOTIFY_AMQP_ROUTING_KEY_rabbitmq=routing_key
MINIO_NOTIFY_AMQP_ENABLE_rabbitmq=on
MINIO_NOTIFY_AMQP_MANDATORY_rabbitmq=on
MINIO_NOTIFY_AMQP_DURABLE_rabbitmq=on
MINIO_NOTIFY_AMQP_FORMAT_rabbitmq=json
MINIO_NOTIFY_AMQP_COMMENT_rabbitmq="RabbitMQ notification Target"

# RABBITMQ SECRETS
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_NODENAME=rabbit@localhost

# THINGSBOARD SECRETS
TB_QUEUE_RABBIT_MQ_USERNAME=
TB_QUEUE_RABBIT_MQ_PASSWORD=
TB_QUEUE_TYPE=rabbitmq
TB_QUEUE_RABBIT_MQ_HOST=rabbitmq
TB_QUEUE_RABBIT_MQ_PORT=5672

# WEBAPP SECRETS
VITE_KEYCLOAK_URL=
VITE_KEYCLOAK_REALM=securedrop-realm
VITE_KEYCLOAK_CLIENT_ID=web-app
VITE_API_BASE_URL=
