# Keycloak Configuration
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=securedrop-realm
KEYCLOAK_CLIENT_ID=web-app

# MinIO Configuration
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=username
MINIO_SECRET_KEY=password

# Postgres 
DB_HOST=api-db
DB_PORT=5432
DB_NAME=securedrop
DB_USER=securedrop_user
DB_PASSWORD=password
DB_SSL=false
# Used for Supabase connection
SUPABASE_DB_URL=postgresql://securedrop_user:password@api-db:5432/securedrop

# Server Configuration
PORT=3001
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:8081

# File Upload
MAX_FILE_SIZE=52428800
